# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local env
.env
.bash_profile

# Backup and swap files
*~
*.swp
._*
*.DS_Store

# IDE/Editor specific files
.idea/
.vscode/
